.body{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;

}

.nav{
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: rgb(180, 162, 162);
    color: rgb(85, 216, 216);
}